.nav {
	font-weight: 300px;
	margin-top: 1.7em;
	margin-right: 0px;
	margin-bottom: 0px;
	margin-left: 76px;
	text-transform: uppercase;
	font-size: 1.15em;
	padding: 20px;
}

.nav .container {
	width: auto;
	max-width: 1170px;
	margin-right: auto;
	margin-left: auto;
	padding-left: 15px;
	padding-right: 15px;
}

.nav .row {
	margin-left: -15px;
	margin-right: -15px;
}

.nav li {
	display: inline;
	padding: 20px;
}

.nav a {
	color: grey;
}

div {
	display: block;
}

.projnav {
	text-align:center;
	background: #325C74;
	width: 100%;
	margin-right: auto;
	margin-left: auto;
	padding-left: 0;
	padding-right: 0;
}

.projnav .projects {
	margin: 0;
}

.projnav .container {
	margin-right:  auto;
	margin-left: auto;
	padding-left: 15px;
	padding-right: 15px;
	width: 1170px;
	display: table;
}

.projnav .container:before, .container:after {
	content: " ";
	display: table;
}

.projnav .row {
	margin-left: -15px;
	margin-right: -15px;
}

.projnav .row:before, .row:after {
	content: " ";
	display: table;
}

*, *:before, *:after {
	box-sizing: border-box;
}

.projnav .icon {
	padding: 30px 15px 25px;
	position: relative;
	display: inline-block;
	color: white;
	text-transform: uppercase;
	letter-spacing: 0.07em;
	float: left;
	width: 14%;
}

.php {
	border: solid #5D7B93;
	border-width: 0 2px 0 3px;
}

.java {
	border-right: solid #5D7B93;
	border-width: 0 2px 0 3px;
}

.C {
	border-right: solid #5D7B93;
	border-width: 0 2px 0 3px;
}

.lua {
	border-right: solid #5D7B93;
	border-width: 0 2px 0 3px;
}

.UDK {
	border-right: solid #5D7B93;
	border-width: 0 2px 0 3px;
}

.gaming {
	border: solid #5D7B93;
	border-width: 0 3px 0 2px;
}

.projnav .icon img {
	width: 35px;
	height: 35px;
	display: inline;
	margin: 0 auto 5px;
}

.jumbotron {
	background-color: #f7f7f7;
	height: 500px;
	background-image: url('http://goo.gl/04j7Nn');
}

.selected {
	background-color:#525C65;
}

.active {
	background-color:#525C65;
}

.grey {
	background-color:#f7f7f7;
}

.white {
	background-color:white;
}

.feature-graphic {
	text-align: center;
	margin-bottom: -7px;
}

.feature-graphic img{
	width: 300px;
	height: 300px;
	padding-right: 30px;
	padding-top: 30px;
	padding-bottom: 30px;
}

.container {
	margin-right: auto;
	margin-left: auto;
	padding-left: 15px;
	padding-right: 15px;
}

.padTop {
	padding-top: 50px;
}

.padBottom {
	padding-bottom: 50px;
}

.text-center {
	text-align: center;
}

p {
	padding-right: 5%;
	font-size: 17px;
	line-height: 27px;
	color: #2f3f4e;
	margin: 0 0 10px;
	padding-top: 0.78125em;
	padding-bottom: 0.79125em;
}

.padTop h2 {
	padding-right: 8%;
	padding-top: 0.25em;
}

h2 {
	font-size: 30px;
	line-height: 40px;
	font-weight: 700;
	color: #2f3f4e;
	padding-bottom:0.65958em;
	font-family: "Avenir W02", Avenir, Futura, "Gill Sans", Calibri, "Century Gothic", "AppleGothic", Helvetica, Arial, sans-serif;
	text-rendering: optimizelegibility;
}

.text-button {
	text-transform: uppercase;
	font-weight: 700;
}

.blocktext {
	letter-spacing: 0.07em;
}

.text-button.red a {
	color: #40badc;
}

small {
	font-size: 0.86667em;
}

a {
	text-decoration: none;
	background: transparent;
}
